.YeshEverything {
  width: 90%;
  margin-top: 100px;
}
.YeshUniversityCount {
  font-weight: 700;
  margin-left: 100px;
  margin-top: -50px;
}

.stack {
  margin-top: 60px;
  border-color: white;
  border: none;
}
